
  nav{
    height: 40px;
    width: 100%;
    display: flex;
   position: sticky;
  }

  

  #logo{
    display: flex;
    height: 40px;
    width: 50px;
    background-color: red;
  }

  li {
    float: left;
    
  }
  

  li{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 100px;
    text-decoration: none;
  }
  
  a{
    text-decoration: none;
    color: white;
    
  }
  li:hover {
    background-color: white;
    transition: 0.5s;

    p{
      color: black;
    }
  }


  
  